<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Test 2</h1>
    <button type="button" class="btn btn-primary btn-lg" {{on "click" this.startStressTest}}>Start</button>
  </div>
</div>
<div class="row">
  {{#each this.data as |person|}}
  <div class="col-6">
    <div class="card mt-3">
      <div class="card-header" style="background-color:rgb(41, 95, 214); color:white">
        Person {{person.id}}
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <Shared::InputField @label="Vorname" @value={{person.firstName}} @id={{person.firstName}}
                @readonly={{true}} />
            </div>
            <div class="form-group col-md-6">
              <Shared::InputField @label="Nachname" @value={{person.lastName}} @id={{person.lastName}}
                @readonly={{true}} />
            </div>
          </div>

          <div class="form-group">
            <Shared::InputField @label="Adresse" @value={{person.address}} @id={{person.address}} @readonly={{false}} />
          </div>

          <div class="form-group">
            <Shared::InputField @label="Adresse 2" @value={{person.address2}} @id={{person.address2}}
              @readonly={{false}} />
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <Shared::InputField @label="Stadt" @value={{person.city}} @id={{person.city}} @readonly={{false}} />
            </div>
            <div class="form-group col-md-2">
              <Shared::InputField @label="PLZ" @value={{person.zip}} @id={{person.zip}} @readonly={{false}} />
            </div>
            <div class="form-group col-md-5">
              <Shared::InputField @label="Land" @value={{person.country}} @id={{person.country}} @readonly={{false}} />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>